* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding-top: 16px;
    text-shadow: 1px;
}

.logo .list {
    display: flex;
    column-gap: 32px;
    padding-left: 200px;
}

.logo .list .item {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.logo .call {
    border: 1px solid #00BAFC;
    padding: 8px 16px;
    border-radius: 5px;
    width: Hug (159px);
    height: Hug (159px);
    background-color: #00BAFC;
    color: white;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.tel {
    border-radius: 16px;
    background: #00BAFC;
    padding: 12px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    text-shadow: 1px;
}

.title {
    color: black;
    font-size: 54px;
    white-space: prewrap;
}

.context {
    color: black;
    font-size: 18px;
    float: left;
}

.start {
    border-radius: 16px;
    background: #00BAFC;
    padding: 12px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.left-side {
    width: 40%;
    text-align: left;
    margin-right: 15%;
   
}

.right-side {
    width: 458px;
    height: 258px;
}

.xizmat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xizmatlar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.com {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xizmat-list {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 45px;
}

.list-item {
    text-align: center;
    margin-top: 70px;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 29px 60px 30px 15px;
    border: 1px solid red;
}

.zakaz {
    display: flex;
    justify-content: center;
    align-items: center;

}

.buyurtma {
    margin-top: 50px;
    border-radius: 16px;
    background: #00BAFC;
    padding: 12px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.sayt {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.savol {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.narsa {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.sayt-type {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.first-title {
    margin-top: 95px;

}

